header {
    /* background-image: '../../assets/background/bgpattern.jpg'; */
    background-color: rgb(127, 191, 255);
    min-height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(102, 0, 204);
}

h1 {
    margin: 0;
}

