.contact {
    height: 100vh;
    position: relative;
}

/* .contact-bg {
    width: 20px;
    height: 100%;
    background-color: #02353c;
    position: absolute;
} */

.contact-wrapper {
    padding: 50px;
    display: flex;
}

.cwrapper-left {
    flex: 1;
}

.cwrapper-right {
    /* background-color: black; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.contact-title {
    font-size: 60px;
    width: 80%;

}

.contact-info {
    width: 100%;
   
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 300;
    width: 70%;
}

.contact-icon {
    width: 300px;
    height: 30px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.contact-description {
    font-weight: 300;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

.submit-btn{
    border: none;
    padding: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    background-color: #2eaf7d;
    border-radius: 50px;
}

.submit-btn:hover {
    background-color: #3fd0c9;
}
